{% extends "user_base.html" %}
{% load static %}
<body bgcolor="#E6E6FA">
{% block content %}
{% load mytags %}
<link href="{% static 'css/user/hotel_list.css' %}" rel="stylesheet">
{% for hotel in rechotelobj %}
<div class="hotel-list">
    {% csrf_token %}
    {% get_hotel_image hotel.hotelid as imgobj %}
    <img class="room-image" src="{{imgobj.hotelimg.url}}"/>
    <div class="hotel-name">Hotel Name: {{hotel.hotelname}}</div>
    <div class="hotel-address">Hotel Address: {% get_hotel_address hotel.hotelid %}, {% get_hotel_city hotel.hotelid %} </div>
    <div class="total-ratings">No. of Ratings: {% get_hotel_total_rating hotel.hotelid %}</div>
    <div class="avg-ratings">Average Ratings: {% get_hotel_avg_rating hotel.hotelid %}</div>
    <div class="room-cost">Room cost: {% get_hotel_min_rent hotel.hotelid %} to {% get_hotel_max_rent hotel.hotelid %}
    </div>
    <a href="{% url 'user_room_list' hotel.hotelid checkin checkout %}">
        <button class="hotel-list-button" name="submit">More Detail</button>
    </a>
</div>
{% endfor %}
{% for hotel in othhotelobj %}
<div class="hotel-list">
    {% csrf_token %}
    <img class="room-image" src="{% static 'images/hotel_room.jpg' %}"/>
    <div class="hotel-name">Hotel Name: {{hotel.hotelname}}</div>
    <div class="hotel-address">Hotel Address: {% get_hotel_address hotel.hotelid %}, {% get_hotel_city hotel.hotelid %} </div>
    <div class="total-ratings">No. of Ratings: {% get_hotel_total_rating hotel.hotelid %}</div>
    <div class="avg-ratings">Average Ratings: {% get_hotel_avg_rating hotel.hotelid %}</div>
    <div class="room-cost">Room cost: {% get_hotel_min_rent hotel.hotelid %} to {% get_hotel_max_rent hotel.hotelid %}
    </div>
    <a href="{% url 'user_room_list' hotel.hotelid checkin checkout %}">
        <button class="hotel-list-button" name="submit">More Detail</button>
    </a>
</div>
{% endfor %}
{% endblock %}
</body>